# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# https://pnpm.io/cli/publish#--report-summary
pnpm-publish-summary.json

.DS_Store
.idea
.vscode

node_modules

# build ouput
es
lib
dist
build
*.zip

*.local

types
